.movie-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card img {
  width: 100%;
  display: block;
}
