/* RESET Y CONFIGURACIÓN GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sticky Footer Layout */
html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(96, 94, 94);
  color: white;
}

/* App layout principal */
.app-layout {
  background-image: url("/src/img/fotoFondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El main toma el espacio restante */
main {
  background-color: rgb(96,94,94);
  flex: 1;
  padding: 0.5rem;
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}

/* ESTILOS DE MENSAJES */
.loading,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: #ffc107;
  padding: 2rem;
}

.no-results {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #ffc107;
}
